@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,600;1,300&display=swap');

:root {
    --primary: #f7ede2;
    --secondary: #f6bd60;
    --light: #606c38;
}

* {
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    font-family: 'Raleway', sans-serif;
    background-color: var(--primary);
    align-items: center;
}

main {
    height: 70%;
    width: 800px;
    display: flex;
}

.img-container {
    height: 100%;
    width: 100%;
    border: 10px solid var(--secondary);
    object-fit: cover;
}

.img-container > img{
    height: 100%;
    width: 100%;
}

.btn {
    font-size: 60px;
    align-self: center;
    padding: 5px;
    color: var(--light);
    background-color: var(--secondary);
    cursor: pointer;
}